[submodule "popgen/intro_genotype_proportions_workshop"]
	path = popgen/intro_genotype_proportions_workshop
	url = https://github.com/NovembreLab/intro_genotype_proportions_workshop.git
[submodule "popgen/HGDP_PopStruct_Exercise"]
	path = popgen/HGDP_PopStruct_Exercise
	url = https://github.com/NovembreLab/HGDP_PopStruct_Exercise.git
[submodule "scRNA-seq-workshop-Fall-2019"]
	path = scRNA-seq-workshop-Fall-2019
	url = https://github.com/crazyhottommy/scRNA-seq-workshop-Fall-2019
